.youtuber-account-detail {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    height: 60px;
    width: 220px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 10px;
}

.youtuber-account-detail img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.youtuber-detail .youtuber-name {
    font-weight: 500;
    font-size: 15px;
}

.profile-btn {
    height: 48px;
    width: 45px;
    position: relative;

}

.profile-btn .tool-tip {
    position: absolute;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    bottom: -100px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.profile-btn:hover .tool-tip {
    opacity: 1;
}